---
//Component imports
import Layout from '../../../layouts/Layout.astro'
import { Image } from 'astro:assets'
import { Icon } from 'astro-icon/components'
import MenuNavbar from '../../../components/MenuNavbar.astro'
//Image imports
import calientes from '../../../assets/bebidas/calientes.png'
import heladas from '../../../assets/bebidas/heladas.png'
import frappes from '../../../assets/bebidas/frappes.png'
import refreshments from '../../../assets/bebidas/refreshments.png'
//Data imports
import drinksData from './drinksData.json'
Object.keys(drinksData.refreshments).forEach((drink) => {
	if (drinksData.refreshments[drink].special) {
		console.log(drinksData.refreshments[drink])
	}
})
---

<Layout
	title="Bebidas"
	description="Explora nuestro menú de bebidas, ideales para cualquier ocasión."
>
	<MenuNavbar />
	<main class="pb-16 pt-32 md:pb-24 md:pt-40">
		<header
			class="flex flex-col justify-between gap-8 px-page-mobile sm:flex-row sm:items-center md:px-page-tablet lg:px-page"
		>
			<!-- Section title -->
			<div class="flex items-center gap-2 md:gap-4">
				<h1 class="text-6xl font-semibold uppercase md:text-8xl">Bebidas</h1>
				<Icon name={'food/bebida'} class="h-12 w-12 md:h-20 md:w-20" />
			</div>
		</header>
		<section class="px-page-mobile py-12 md:px-page-tablet lg:px-page">
			<!-- CALIENTES -->
			<div
				class="mb-page-mobile grid gap-4 rounded-3xl bg-light-2 p-4 md:mb-page-tablet md:grid-cols-2 md:gap-8 md:rounded-[3rem] md:p-8 lg:mb-page"
			>
				<Image
					src={calientes}
					alt="Bebidas"
					class="h-full w-full rounded-xl object-cover md:rounded-3xl"
				/>
				<div>
					<h2 class="text-2xl font-semibold uppercase md:text-4xl">Calientes</h2>
					<div class="flex justify-end gap-4">
						<p class="mb-4 min-w-16 text-end text-lg font-light md:text-2xl">12oz</p>
						<p class="mb-4 min-w-16 text-end text-lg font-light md:text-2xl">16oz</p>
					</div>
					<ul class="flex flex-col gap-2 md:gap-4">
						{
							Object.keys(drinksData.calientes).map((drink) => (
								<li class="flex items-center justify-between gap-4">
									<p class="text-lg md:text-2xl">{drinksData.calientes[drink].name}</p>
									<div class="flex gap-4">
										<p class="min-w-16 text-end text-lg md:text-2xl">
											${drinksData.calientes[drink].prices.small}
										</p>
										<p class="min-w-16 text-end text-lg md:text-2xl">
											{drinksData.calientes[drink].prices.large === 0
												? '-'
												: '$' + drinksData.calientes[drink].prices.large}
										</p>
									</div>
								</li>
							))
						}
					</ul>
				</div>
			</div>
			<!-- HELADAS -->
			<div
				class="mb-page-mobile grid gap-4 rounded-3xl bg-light-2 p-4 md:mb-page-tablet md:grid-cols-2 md:gap-8 md:rounded-[3rem] md:p-8 lg:mb-page"
			>
				<Image
					src={heladas}
					alt="Bebidas"
					class="h-full w-full rounded-xl object-cover md:rounded-3xl"
				/>
				<div>
					<h2 class="text-2xl font-semibold uppercase md:text-4xl">Heladas</h2>
					<div class="flex justify-end gap-4">
						<p class="mb-4 min-w-16 text-end text-lg font-light md:text-2xl">16oz</p>
						<p class="mb-4 min-w-16 text-end text-lg font-light md:text-2xl">20oz</p>
					</div>
					<ul class="flex flex-col gap-2 md:gap-4">
						{
							Object.keys(drinksData.heladas).map((drink) => (
								<li class="flex items-center justify-between gap-4">
									<p class="text-lg md:text-2xl">{drinksData.heladas[drink].name}</p>
									<div class="flex gap-4">
										<p class="min-w-16 text-end text-lg md:text-2xl">
											${drinksData.heladas[drink].prices.small}
										</p>
										<p class="min-w-16 text-end text-lg md:text-2xl">
											${drinksData.heladas[drink].prices.large}
										</p>
									</div>
								</li>
							))
						}
					</ul>
				</div>
			</div>
			<!-- FRAPPÉS -->
			<div
				class="mb-page-mobile grid gap-4 rounded-3xl bg-light-2 p-4 md:mb-page-tablet md:grid-cols-2 md:gap-8 md:rounded-[3rem] md:p-8 lg:mb-page"
			>
				<Image
					src={frappes}
					alt="Bebidas"
					class="h-full max-h-[35rem] w-full rounded-3xl object-cover"
				/>
				<div>
					<h2 class="text-2xl font-semibold uppercase md:text-4xl">Frappés</h2>
					<div class="flex justify-end gap-4">
						<p class="mb-4 min-w-16 text-end text-lg font-light md:text-2xl">16oz</p>
						<p class="mb-4 min-w-16 text-end text-lg font-light md:text-2xl">20oz</p>
					</div>
					<ul class="flex flex-col gap-2 md:gap-4">
						{
							Object.keys(drinksData.frappes).map((drink) => (
								<li class="flex items-center justify-between gap-4">
									<p class="text-lg md:text-2xl">{drinksData.frappes[drink].name}</p>
									<div class="flex gap-4">
										<p class="min-w-16 text-end text-lg md:text-2xl">
											${drinksData.frappes[drink].prices.small}
										</p>
										<p class="min-w-16 text-end text-lg md:text-2xl">
											${drinksData.frappes[drink].prices.large}
										</p>
									</div>
								</li>
							))
						}
					</ul>
				</div>
			</div>
			<!-- REFRESHMENTS & MALTEADAS -->
			<div
				class="mb-page-mobile grid gap-4 rounded-3xl bg-light-2 p-4 md:mb-page-tablet md:grid-cols-2 md:gap-8 md:rounded-[3rem] md:p-8 lg:mb-page"
			>
				<Image
					src={refreshments}
					alt="Bebidas"
					class="h-full w-full rounded-xl object-cover md:rounded-3xl"
				/>
				<div>
					<h2 class="mb-4 text-2xl font-semibold uppercase md:text-4xl">Refreshments</h2>
					<ul class="flex flex-col gap-2 md:gap-4">
						<!-- Refreshments Normales -->
						{
							Object.keys(drinksData.refreshments).map((drink) => {
								if (!drinksData.refreshments[drink].special) {
									return (
										<li class="flex items-center justify-between gap-4">
											<p class="text-lg md:text-2xl">{drinksData.refreshments[drink].name}</p>
											<div class="flex gap-4">
												<p class="min-w-16 text-end text-lg md:text-2xl">
													${drinksData.refreshments[drink].price}
												</p>
											</div>
										</li>
									)
								}
							})
						}
						<!-- Refreshments Especiales -->
						<div class="flex justify-end gap-4">
							<p class="mb-4 min-w-16 text-end text-lg font-light md:text-2xl">20oz</p>
						</div>
						{
							Object.keys(drinksData.refreshments).map((drink) => {
								if (drinksData.refreshments[drink].special) {
									return (
										<li class="flex items-center justify-between gap-4">
											<p class="text-lg md:text-2xl">{drinksData.refreshments[drink].name}</p>
											<div class="flex gap-4">
												<p class="min-w-16 text-end text-lg md:text-2xl">
													${drinksData.refreshments[drink].price}
												</p>
											</div>
										</li>
									)
								}
							})
						}
					</ul>
					<h2 class="mt-8 text-2xl font-semibold uppercase md:text-4xl">Malteadas</h2>
					<div class="flex justify-end gap-4">
						<p class="mb-4 min-w-16 text-end text-lg font-light md:text-2xl">20oz</p>
					</div>
					<ul class="flex flex-col gap-2 md:gap-4">
						{
							Object.keys(drinksData.malteadas).map((drink) => (
								<li class="flex items-center justify-between gap-4">
									<p class="text-lg md:text-2xl">{drinksData.malteadas[drink].name}</p>
									<div class="flex gap-4">
										<p class="min-w-16 text-end text-lg md:text-2xl">
											${drinksData.malteadas[drink].price}
										</p>
									</div>
								</li>
							))
						}
					</ul>
				</div>
			</div>
		</section>
	</main>
</Layout>
