---
//Component imports
import { Image } from 'astro:assets'
import { Icon } from 'astro-icon/components'
import Layout from '../layouts/Layout.astro'
import Button from '../components/Button.astro'
import FAQ from '../components/FAQ.jsx'

//Asset imports
import bbqWrap from '../assets/home/bbq-wrap.png'
import headerImage from '../assets/home/header.png'
import drink from '../assets/home/drink.png'
import reviews from '../reviews.json'
---

<Layout
	title="The Wrap Co."
	description="Deliciosos Wraps artesanales y café nacional para acompañar tu día."
>
	<main class="overflow-x-hidden">
		<header
			class="relative h-auto bg-none px-page-mobile pt-32 sm:bg-conic-gradient sm:pt-40 md:bg-none md:px-page-tablet lg:px-page"
		>
			<div
				class="grid flex-grow translate-y-0 justify-items-center text-balance sm:translate-y-16 sm:justify-items-start md:translate-y-0 md:grid-cols-12 md:grid-rows-none"
			>
				<div
					id="header-comp"
					class="row-start-1 flex flex-col items-start gap-0 sm:gap-4 md:col-span-4 md:col-start-1"
				>
					<h1 class="text-3xl font-semibold leading-relaxed sm:text-4xl">
						<span class="relative z-10"
							>Envuelve <Icon
								name={'info/squigglyUnderline'}
								class="absolute -left-2 bottom-0 -z-10 w-[105%] text-brand-2"
							/></span
						>
						 tu dia con combinaciones de sabor únicas
					</h1>
					<Button text="Ver Menú" mode="tertiary" href="/menu/wraps/" />
				</div>
				<Image
					class="row-start-3 max-w-[175%] -translate-y-12 object-cover sm:max-w-full sm:translate-y-0 md:col-span-8 md:col-start-3 md:row-start-1"
					src={headerImage}
					alt="Wrap Clásico con un Mocha Frappé."
				/>
				<div class="hidden pl-16 pt-8 sm:block md:col-span-3 md:col-start-10 md:row-start-1">
					<Icon
						name={'info/accentStar'}
						class="left-0 top-0 h-8 w-8 -translate-x-full text-brand-2"
					/>
					<p class="text-xl">
						Descubre nuestra <b>deliciosa variedad de wraps</b>, chapatas, pan dulce y café que
						acompañaran a tu día de manera perfecta.
					</p>
				</div>
			</div>
			<div
				id="header-bg"
				class="absolute left-0 right-0 top-0 -z-10 h-screen bg-conic-gradient sm:bg-none md:bg-conic-gradient"
			>
				<div
					id="badge-animation"
					class="absolute bottom-0 left-0 pb-20 md:pl-page-tablet lg:pl-page"
				>
					<div class="hidden h-32 w-32 md:block">
						<lottie-player
							src="/images/xp-badge.json"
							background="transparent"
							speed="1"
							loop
							autoplay></lottie-player>
					</div>
				</div>
			</div>
		</header>
		<!-- Features Section -->
		<section class="px-page-mobile py-32 md:px-page-tablet lg:px-page">
			<div class="flex flex-col">
				<h2
					class="mx-auto mb-16 text-balance text-center text-2xl font-semibold leading-normal md:text-3xl"
				>
					Nuestra creciente pasión por ofrecer comida deliciosa nos impulsa cada día a mejorar
					nuestros productos.
				</h2>
				<ul class="flex flex-col gap-8 text-light-1 md:flex-row">
					<li class="flex-grow rounded-3xl bg-brand-2 p-6">
						<div class="mb-2 flex items-center gap-4">
							<Icon name="food/coffee" size={36} /><h4 class="text-xl font-medium">
								Caliente y Crocante
							</h4>
						</div>
						<p class="text-sm font-light leading-loose">
							Lorem ipsum dolor sit amet consectetur. Eget rhoncus nulla aliquet est erat arcu.
							Pulvinar vestibulum massa vitae et lectus. Etiam hendrerit quam nisl ut felis viverra.
						</p>
					</li>
					<li class="flex-grow rounded-3xl bg-brand-2 p-6">
						<div class="mb-2 flex items-center gap-4">
							<Icon name="food/crown" size={36} /><h4 class="text-xl font-medium">
								Máxima Calidad
							</h4>
						</div>
						<p class="text-sm font-light leading-loose">
							Lorem ipsum dolor sit amet consectetur. Eget rhoncus nulla aliquet est erat arcu.
							Pulvinar vestibulum massa vitae et lectus. Etiam hendrerit quam nisl ut felis viverra.
						</p>
					</li>
					<li class="flex-grow rounded-3xl bg-brand-2 p-6">
						<div class="mb-2 flex items-center gap-4">
							<Icon name="food/scooter" size={36} /><h4 class="text-xl font-medium">
								Siempre cerca de ti
							</h4>
						</div>
						<p class="text-sm font-light leading-loose">
							Lorem ipsum dolor sit amet consectetur. Eget rhoncus nulla aliquet est erat arcu.
							Pulvinar vestibulum massa vitae et lectus. Etiam hendrerit quam nisl ut felis viverra.
						</p>
					</li>
				</ul>
			</div>
		</section>
		<!-- Main Differentiator Section -->
		<section class="bg-dark-2 px-page-mobile py-20 text-light-3 md:px-page-tablet lg:px-page">
			<div class="grid items-center gap-8 md:grid-cols-2">
				<div class="flex flex-col gap-4">
					<h2 class="text-5xl font-semibold leading-tight">
						Sección de distinción de marca principal
					</h2>
					<p class="text-xl font-light leading-loose">
						Descubre nuestra deliciosa variedad de wraps, chapatas, pan dulce y café que acompañaran
						a tu día <b class="font-medium">de manera perfecta</b>.
					</p>
					<p class="text-xl font-light leading-loose">
						Descubre nuestra <b class="font-medium">deliciosa variedad de wraps</b>, chapatas, pan
						dulce y café que acompañaran a tu día de manera perfecta.
					</p>
				</div>
				<Image
					class="h-full rounded-3xl border border-light-3 object-cover"
					src={bbqWrap}
					alt="BBQ Wrap."
				/>
			</div>
		</section>
		<!-- Reviews Section -->
		<section class="py-32">
			<div class="flex flex-col">
				<h2
					class="mx-auto mb-16 max-w-[50ch] px-page-mobile text-center text-2xl font-semibold leading-normal md:text-balance md:px-page-tablet md:text-3xl lg:px-page"
				>
					Escucha lo que dicen las personas que ya probaron nuestros wraps!
				</h2>
				<ul
					class="hide-scrollbar flex snap-x gap-8 overflow-x-scroll px-page-mobile md:px-page-tablet lg:px-page"
				>
					{
						Object.keys(reviews).map((review) => (
							<li class="flex w-[80%] flex-shrink-0 flex-grow-0 snap-center flex-col gap-2 sm:w-[30%]">
								<div class="flex gap-2">
									{Array.from({ length: reviews[review].rating }).map(() => (
										<Icon name={'info/star'} />
									))}
								</div>
								<h4 class="text-xl font-medium">{reviews[review].name}</h4>
								<p class="text-sm font-light leading-loose">{reviews[review].review}</p>
							</li>
						))
					}
				</ul>
			</div>
		</section>
		<!-- Online Order Section -->
		<section class="bg-dark-3 text-light-2">
			<div class="grid items-center gap-8 pt-16 md:grid-cols-2 md:pt-0">
				<Image
					class="row-start-2 h-full object-contain object-bottom md:row-start-auto"
					src={drink}
					alt="Caramel Frappe"
				/>
				<div class="row-start-1 flex flex-col items-start gap-4 p-page-mobile md:row-start-auto">
					<h2 class="text-5xl font-semibold leading-tight">
						Tus bebidas favoritas.
						<br />
						 En todos lados.
					</h2>
					<p class="pr-8 text-xl font-light leading-loose md:text-balance">
						Puedes encontrar nuestro menú completo de Wraps y Bebidas en <b class="font-medium"
							>Rappi</b
						> y <b class="font-medium">Uber Eats</b>.
					</p>
					<Button text="Realizar un pedido" href="/contact/" mode="secondary" />
				</div>
			</div>
		</section>
		<!-- FAQs Section -->
		<section class="px-page-mobile py-32 md:px-page-tablet lg:px-page">
			<div class="grid items-start gap-12 md:grid-cols-6">
				<div class="flex flex-col items-start gap-4 md:col-span-2">
					<h2 class="text-2xl font-semibold leading-tight md:text-3xl">Preguntas Frecuentes</h2>
					<p class="text-lg font-light leading-loose md:text-balance md:text-xl">
						Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse varius enim in eros
						elementum tristique.
					</p>
					<Button text="Ver Menú" href="/menu/wraps/" />
				</div>
				<div class="border-b border-dark-1 md:col-span-4">
					<FAQ
						client:load
						question="Por qué utilizan pan en sus Wraps de la casa?"
						answer="Lorem ipsum dolor sit amet consectetur. Eget rhoncus nulla aliquet est erat arcu. Pulvinar vestibulum massa vitae et lectus. Etiam hendrerit quam nisl ut felis viverra. Lorem ipsum dolor sit amet consectetur. Eget rhoncus nulla aliquet est erat arcu. Pulvinar vestibulum massa vitae et lectus. Etiam hendrerit quam nisl ut felis viverra."
					/>
					<FAQ
						client:load
						question="Hornean el pan a diario?"
						answer="Lorem ipsum dolor sit amet consectetur. Eget rhoncus nulla aliquet est erat arcu. Pulvinar vestibulum massa vitae et lectus. Etiam hendrerit quam nisl ut felis viverra. Lorem ipsum dolor sit amet consectetur. Eget rhoncus nulla aliquet est erat arcu. Pulvinar vestibulum massa vitae et lectus. Etiam hendrerit quam nisl ut felis viverra."
					/>
					<FAQ
						client:load
						question="Su café es delicioso, Cómo es que tiene un sabor tan bueno?"
						answer="Lorem ipsum dolor sit amet consectetur. Eget rhoncus nulla aliquet est erat arcu. Pulvinar vestibulum massa vitae et lectus. Etiam hendrerit quam nisl ut felis viverra. Lorem ipsum dolor sit amet consectetur. Eget rhoncus nulla aliquet est erat arcu. Pulvinar vestibulum massa vitae et lectus. Etiam hendrerit quam nisl ut felis viverra."
					/>
					<FAQ
						client:load
						question="Por qué utilizan pan en sus Wraps de la casa?"
						answer="Lorem ipsum dolor sit amet consectetur. Eget rhoncus nulla aliquet est erat arcu. Pulvinar vestibulum massa vitae et lectus. Etiam hendrerit quam nisl ut felis viverra. Lorem ipsum dolor sit amet consectetur. Eget rhoncus nulla aliquet est erat arcu. Pulvinar vestibulum massa vitae et lectus. Etiam hendrerit quam nisl ut felis viverra."
					/>
				</div>
			</div>
		</section>
	</main>
</Layout>
