---
// Component Import
import { Image } from 'astro:assets'
// Image Imports
import logo from '../assets/navbar/logo-horizontal.svg'
import andCoffee from '../assets/navbar/and-coffee.svg'
// Social Media Icons
import instagram from '../assets/navbar/instagram.svg'
import facebook from '../assets/navbar/facebook.svg'
import tiktok from '../assets/navbar/tiktok.svg'
const unactiveLink =
	'decoration-brand-2 underline-offset-4 opacity-80 hover:underline hover:opacity-100'
---

<script>
	window.onload = () => {
		const links = document.querySelectorAll('a')
		links.forEach((link) => {
			if (link.href === window.location.href) {
				link.classList.add('opacity-100', 'underline')
				link.classList.remove('opacity-80')
			}
		})
	}
</script>

<div
	id="nav-container"
	class="fixed left-0 right-0 top-0 px-page-mobile pt-4 md:px-page-tablet lg:px-page"
>
	<nav
		class="grid-cols-3 items-center justify-between rounded-full bg-dark-2 px-page-mobile py-2 sm:grid sm:py-4 md:px-page-tablet lg:px-page"
	>
		<ul class="hidden items-center gap-3 text-light-1 sm:flex lg:gap-6">
			<li>
				<a href="/" class={unactiveLink}>Inicio</a>
			</li>
			<li>
				<a href="/menu/wraps" class={unactiveLink}>Menú</a>
			</li>
			<li>
				<a href="/contacto" class={unactiveLink}>Contacto</a>
			</li>
		</ul>
		<a class="relative flex justify-center">
			<Image src={logo} alt="Company Logo" class={'h-6 sm:h-10'} />
			<Image
				src={andCoffee}
				alt="Company Slogan"
				class={'absolute sm:-bottom-7 -bottom-4 h-3 sm:h-6 '}
			/>
		</a>
		<ul class="hidden items-center justify-end gap-3 sm:flex lg:gap-6">
			<li
				class="rounded-full border-2 border-brand-2 border-opacity-0 p-1 hover:border-opacity-100"
			>
				<a
					href="/"
					class="flex items-center justify-center rounded-full bg-light-1 p-1 opacity-80 hover:opacity-100"
					><Image src={instagram} alt="Social Media Icon" width={20} height={20} /></a
				>
			</li>
			<li
				class="rounded-full border-2 border-brand-2 border-opacity-0 p-1 hover:border-opacity-100"
			>
				<a
					href="/"
					class="flex items-center justify-center rounded-full bg-light-1 p-1 opacity-80 hover:opacity-100"
					><Image src={facebook} alt="Social Media Icon" width={20} height={20} /></a
				>
			</li>
			<li
				class="rounded-full border-2 border-brand-2 border-opacity-0 p-1 hover:border-opacity-100"
			>
				<a
					href="/"
					class="flex items-center justify-center rounded-full bg-light-1 p-1 opacity-80 hover:opacity-100"
					><Image src={tiktok} alt="Social Media Icon" width={20} height={20} /></a
				>
			</li>
		</ul>
	</nav>
</div>
