---
interface Props {
	title: string
	description: string
}

const { title, description } = Astro.props
import '@fontsource/poppins'
import '@fontsource/poppins/300.css'
import '@fontsource/poppins/500.css'
import '@fontsource/poppins/600.css'
import Navbar from '../components/Navbar.astro'
import Footer from '../components/Footer.astro'
import { ViewTransitions } from 'astro:transitions'
---

<!doctype html>
<html>
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content={description} />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<link rel="stylesheet" href="fonts.css" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
		<!-- Open Graph meta tags -->
		<meta property="og:title" content={title} />
		<meta property="og:description" content={description} />
		<meta property="og:image" content={`https://thewrap.co/images/profile.png`} />
		<meta property="og:type" content="website" />
		<ViewTransitions />
	</head>
	<body class="overscroll-none bg-light-1 font-body text-dark-1">
		<Navbar />
		<slot />
		<Footer />
		<style is:global>
			h1 {
				text-transform: uppercase;
				font-weight: 600;
				font-size: 2rem;
			}
		</style>
	</body>
</html>
